{% extends 'base.html' %}

{% load static %}
{% block title %} Welcome {% endblock %}


{% block css %}
<script src="{% static 'css/sidebar.css' %}"></script>
<style>
    .order-successful-text {
        font-family: Oswald;
        font-size: 1.4em;
        color: black;
        font-weight: bold;
        text-align: center;
        background-color: #FFDEE9;
        background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    }

    .heading {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-text {
        text-align: center;
        margin: 0 20px;
        overflow: hidden;
    }

    .header-text h1 {
        font-family: 'Lato', sans-serif;
        font-size: 48px;
        color: #333;
        font-weight: bolder;
        text-transform: uppercase;
        animation: runningText 10s linear infinite;
        white-space: nowrap;
    }

    @keyframes runningText {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }


    .sidebar {
        width: 200px;
        position: fixed;
        top: 50px;
        /* Adjust this to match the navbar height */
        bottom: 0;
        background-color: #f5f9f9;
        border-right: 1px solid #ddd;
        overflow-y: auto;
        border: 2px solid #82cbff;
        border-radius: 10px;
        z-index: 1;
        padding-left: 0;
        /* Lower z-index to keep the sidebar below the navbar */
    }

    .main-content-wrapper {
        margin-left: 200px;
        margin-top: 50px;
        /* Adjust this to match the navbar height */
        padding: 20px;
        overflow-y: auto;
        height: calc(100vh - 50px);
        /* Set the height to fill the remaining viewport space */
    }


    .table-responsive {
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .sidebar {
            position: static;
            width: auto;
        }

        .main-content-wrapper {
            margin-left: 0;
        }
    }

    .heading-title-text {
        font-family: Oswald;
        font-size: 2.25em;
        font-weight: bold;
        color: #ffff;
        text-align: center;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    }

    .heading {
        margin-top: 30px;
    }

    .h-text {
        margin: 20px;
        padding: 20px;

    }

    .h-animate .text {
        position: relative;
        font-size: 2rem;
        font-weight: 600;
    }

    .text.sec-text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #ffff;
        border-left: 2px solid #00C9F3;
        animation: animate 4s steps(12) infinite;
    }

    @keyframes animate {

        40%,
        60% {
            left: calc(100% + 4px);
        }

        100% {
            left: 0%;
        }
    }
</style>

{%endblock%}

{% block content %}


<div class="h-text">

    <div class="h-animate">

        <span class="text first-text">Visualizing Data:&nbsp;</span>

        <span class="text sec-text"></span>

    </div>

</div>

<div class="container-fluid">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 bg-light sidebar" style="position: sticky;">

            <div>
                <h3 class="running-h1" style="font-weight: bolder; margin: 15px; padding: 5px;">Other Options</h3>
            </div>

            <nav class="navbar">
                <!-- Your sidebar navigation items go here -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/visu/{{my_id}}"><i class="fa fa-dashboard"></i>
                            Dashboard</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-diamond"></i> Non-Categorical</a>
                        <div class="dropdown-menu" aria-labelledby="appsDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ScatterPlot">Scatter
                                Plot</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#LinePlot">Line
                                Plot</a>
                        </div>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-diamond"></i>Categorical</a>
                        <div class="dropdown-menu" aria-labelledby="subLevelDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#BarChart">Bar Chart</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Histogram">Histogram</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="/data/{{my_id}}"><span
                                class="glyphicon glyphicon-signal"></span>
                            Dataset Summary</a>
                    </li>

                </ul>
            </nav>
        </div>





        <div class="modal fade" id="ScatterPlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Scatter Plot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/visu/scatter/{{my_id}}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" name="scatter-plot-heading" class="form-control my-2"
                                placeholder="Enter the heading here...">



                            <label for="x-axis">X-Axis :</label>
                            <input type="text" name="x-axis-label" class="form-control my-2"
                                placeholder="Enter the X-Axis label...">
                            <div class="form-group">
                                <select name="x_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{col}}">{{col}}</option>
                                    {%endfor%}
                                </select>
                            </div>


                            <label for="y-axis">Y-Axis :</label>
                            <input type="text" name="y-axis-label" class="form-control my-2"
                                placeholder="Enter the Y-Axis label...">
                            <div class="form-group">
                                <select name="y_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{col}}">{{col}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Show Plot</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="LinePlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Line Plot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/visu/line/{{my_id}}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" name="line-plot-heading" class="form-control my-2"
                                placeholder="Enter the heading here...">

                            <label for="line-color">Line Color:</label>
                            <input type="color" id="line-color" name="line_color" value="#ff0000"
                                class="form-control my-2">

                            <label for="y-axis">Choose Column :</label>
                            <input type="text" name="y-axis-label" class="form-control my-2"
                                placeholder="Enter the label...">
                            <div class="form-group">
                                <select name="y_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{col}}">{{col}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Show Plot</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="modal fade" id="BarChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Bar Chart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/visu/bar/{{ my_id }}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" name="bar-chart-heading" class="form-control my-2"
                                placeholder="Enter the heading here...">

                            <label for="bar-color">Bar Color:</label>
                            <input type="color" id="bar-color" name="bar_color" value="#1f77b4"
                                class="form-control my-2">

                            <label for="x-axis">Choose X-Axis Column :</label>
                            <input type="text" name="x-axis-label" class="form-control my-2"
                                placeholder="Enter the label...">
                            <div class="form-group">
                                <select name="x_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{ col }}">{{ col }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <label for="y-axis">Choose Y-Axis Column :</label>
                            <input type="text" name="y-axis-label" class="form-control my-2"
                                placeholder="Enter the label...">
                            <div class="form-group">
                                <select name="y_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{ col }}">{{ col }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Show Plot</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="Histogram" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Histogram</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/visu/histogram/{{ my_id }}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" name="histogram-heading" class="form-control my-2"
                                placeholder="Enter the heading here...">

                            <label for="histogram-color">Bar Color:</label>
                            <input type="color" id="histogram-color" name="histogram_color" value="#1f77b4"
                                class="form-control my-2">

                            <label for="x-axis">Choose Column :</label>
                            <input type="text" name="x-axis-label" class="form-control my-2"
                                placeholder="Enter the label...">
                            <div class="form-group">
                                <select name="x_axis" class="form-control">
                                    {% for col in column_names %}
                                    <option value="{{ col }}">{{ col }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Show Plot</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>








        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="heading">
                <p class="heading-title-text"> {{title}} </p>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <div class="plot-img">
                    {% if plot_image %}
                    <img src="data:image/png;base64,{{ plot_image }}" alt="Scatter Plot">
                    {% else %}
                    <p>No plot image available.</p>
                    {% endif %}
                </div>
                <div class="edit-save" style="align-items: center; margin: auto;">
                    {% if plot_image %}
                    <a href="/visu/save_plot/{{my_id}}"><button type="button" class="btn btn-outline-success btn-sm"
                            style="width: 9vw; height: max-content;">Save</button></a>
                    <br><br>
                    <a href="/visu/delete_plot/{{my_id}}"><button type="button" class="btn btn-outline-danger btn-sm"
                            style="width: 9vw; height: max-content;">Delete</button></a>
                    {%endif%}
                </div>
            </div>




        </main>




    </div>
</div>


{% endblock %}


{% block js %}

<script>
    const text = document.querySelector(".sec-text");

    const textLoad = () => {

        setTimeout(() => {

            text.textContent = "Illuminating Insights";

        }, 0);

    }

    textLoad();
    setInterval(textLoad, 12000);

</script>



{% endblock %}