{% extends 'base.html' %}

{% load static %}
{% block title %} Welcome {% endblock %}


{% block css %}
<script src="{% static 'css/sidebar.css' %}"></script>
<style>
    .order-successful-text {
        font-family: Oswald;
        font-size: 1.4em;
        color: black;
        font-weight: bold;
        text-align: center;
        background-color: #FFDEE9;
        background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    }

    .heading {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-text {
        text-align: center;
        margin: 0 20px;
        overflow: hidden;
    }

    .header-text h1 {
        font-family: 'Lato', sans-serif;
        font-size: 48px;
        color: #333;
        font-weight: bolder;
        text-transform: uppercase;
        animation: runningText 10s linear infinite;
        white-space: nowrap;
    }

    @keyframes runningText {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }


    .sidebar {
        width: 200px;
        position: fixed;
        top: 50px;
        /* Adjust this to match the navbar height */
        bottom: 0;
        background-color: #f5f9f9;
        border-right: 1px solid #ddd;
        overflow-y: auto;
        border: 2px solid #82cbff;
        border-radius: 10px;
        z-index: 1;
        padding-left: 0;
        /* Lower z-index to keep the sidebar below the navbar */
    }

    .main-content-wrapper {
        margin-left: 200px;
        margin-top: 50px;
        /* Adjust this to match the navbar height */
        padding: 20px;
        overflow-y: auto;
        height: calc(100vh - 50px);
        /* Set the height to fill the remaining viewport space */
    }


    .table-responsive {
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .sidebar {
            position: static;
            width: auto;
        }

        .main-content-wrapper {
            margin-left: 0;
        }
    }

    .heading-title-text {
        font-family: Oswald;
        font-size: 2.25em;
        font-weight: bold;
        color: #ffff;
        text-align: center;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    }

    .heading {
        margin-top: 30px;
    }

    .h-text {
        margin: 20px;
        padding: 20px;

    }

    .h-animate .text {
        position: relative;
        font-size: 2rem;
        font-weight: 600;
    }

    .text.sec-text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #ffff;
        border-left: 2px solid #00C9F3;
        animation: animate 4s steps(12) infinite;
    }

    @keyframes animate {

        40%,
        60% {
            left: calc(100% + 4px);
        }

        100% {
            left: 0%;
        }
    }
</style>

{%endblock%}

{% block content %}


<div class="h-text">

    <div class="h-animate">

        <span class="text first-text">Data Exploration:&nbsp;</span>

        <span class="text sec-text"></span>

    </div>

</div>

<div class="container-fluid">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 bg-light sidebar" style="position: sticky;">

            <div>
                <h3 class="running-h1" style="font-weight: bolder; margin: 15px; padding: 5px;">Other Options</h3>
            </div>

            <nav class="navbar">
                <!-- Your sidebar navigation items go here -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-diamond"></i> Handle Missing
                            Values</a>
                        <div class="dropdown-menu" aria-labelledby="appsDropdown">
                            <a class="dropdown-item" href="/data/datacleaning/mean/{{my_id}}">Mean Imputation</a>
                            <a class="dropdown-item" href="/data/datacleaning/median/{{my_id}}">Median Imputation</a>
                            <a class="dropdown-item" href="/data/datacleaning/mode/{{my_id}}">Mode Imputation</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-diamond"></i> Insights</a>
                        <div class="dropdown-menu" aria-labelledby="appsDropdown">

                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#exampleModalCenter">Add
                                Insight</a>

                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#exampleModalLong">See All
                                Insights</a>

                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-diamond"></i> Visulizations</a>
                        <div class="dropdown-menu" aria-labelledby="appsDropdown">
                            <a class="dropdown-item" href="#">Scatter Plot</a>
                            <a class="dropdown-item" href="#">Line Plot</a>
                            <a class="dropdown-item" href="#">Heatmap</a>

                            <a class="dropdown-item dropdown-toggle" href="#" id="subLevelDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorical
                                Visualizations</a>

                            <div class="dropdown-menu" aria-labelledby="subLevelDropdown">
                                <a class="dropdown-item" href="#">Bar Chart</a>
                                <a class="dropdown-item" href="#">Histogram</a>
                                <a class="dropdown-item" href="#">Pie Chart</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="/data/download/{{my_id}}"><span
                                class="glyphicon glyphicon-signal"></span>
                            Download Dataset</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-signal"></span>
                            Download Report</a>
                    </li>

                </ul>
            </nav>
        </div>







        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Your Insight</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/data/addnote/{{my_id}}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" name="heading" class="form-control my-2"
                                placeholder="Enter the heading here...">
                            <textarea name="insight" class="form-control" rows="4"
                                placeholder="Enter your insight here..."></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>






        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">View Insights of Dataset</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="list-group">
                            {% for note in notes %}

                            <a class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{note.heading}}</h5>
                                    <small>{{note.uploaded_date}}</small>
                                </div>
                                <p class="mb-1">{{note.note}}</p>
                                <a href="/data/note/delete/{{note.note_id}}" class="btn-small">Delete</a>
                            </a>


                            {% empty %}

                            <p class="mb-1">No insights Found</p>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>






        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="heading">
                <p class="heading-title-text"> {{title}} </p>
            </div>
            <div class="head m-3 table-responsive">
                <div class="heading">
                    <p class="order-successful-text"> Preview of the Dataset: First Few Rows </p>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for column in head.columns %}
                            <th scope="col">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in head.iterrows %}
                        <tr>
                            {% for value in row.1 %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>


            <div class="info m-3 table-responsive">
                <div class="heading">
                    <p class="order-successful-text"> DataFrame Information Summary </p>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for column in info.columns %}
                            <th scope="col">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in info.iterrows %}
                        <tr>
                            {% for value in row.1 %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>


            <div class="info m-3 table-responsive">
                <div class="heading">
                    <p class="order-successful-text"> DataFrame Descriptive Statistics </p>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for column in desc.columns %}
                            <th scope="col">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in desc.iterrows %}
                        <tr>
                            {% for value in row.1 %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>


            {% if Nullval.empty %}
            <div class="heading">
                <p class="order-successful-text" style="height: max-content; font-size: large;">No null values found in
                    the table</p>
            </div>
            {% else %}
            <div class="info m-3 table-responsive">
                <div class="heading">
                    <p class="order-successful-text">Null Value Count Summary</p>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for column in Nullval.columns %}
                            <th scope="col">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in Nullval.iterrows %}
                        <tr>
                            {% for value in row.1 %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

        </main>




    </div>
</div>


{% endblock %}


{% block js %}

<script>
    const text = document.querySelector(".sec-text");

    const textLoad = () => {

        setTimeout(() => {

            text.textContent = "Uncovering Insights and Patterns";

        }, 0);

    }

    textLoad();
    setInterval(textLoad, 12000);

</script>


{% endblock %}