{% extends 'base.html' %}

{% load static %}
{% block title %} Welcome {% endblock %}


{% block css %}

<style>
    .order-successful-text {
        font-family: Oswald;
        font-size: 2.25em;
        font-weight: bold;
        color: #444444;
        text-align: center;
        background-color: #82cbff;
    }

    .heading {
        margin-top: 30px;
    }
</style>

{%endblock%}

{% block content %}


<div class="heading">
    <p class="order-successful-text"> Upload Your Dataset (format : csv only) </p>
</div>


<!-- upload_dataset.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 m-5">
        <label for="dataset_name" class="form-label">Title For Dataset</label>
        <input type="text" class="form-control" id="dataset_name" name="dataset_name" required>
    </div>
    <div class="mb-3 m-5">
        <label for="uploaded_file" class="form-label">Upload your Dataset here</label>
        <input type="file" class="form-control" id="uploaded_file" name="uploaded_file" required>
    </div>
    <button type="submit" class="btn btn-primary mx-5">Upload File</button>
</form>


{% endblock %}


{% block js %}

<script>

</script>

{% endblock %}